{% extends 'layout.html' %} 
{% block title %} Profile {% endblock %} 
{% block content %}
<main>
    <h1>User Profile</h1>
    <div>
       
        <table>
            <tr>
                <th>Name:</th>
                <td>{{ account['fullname'] }}</td>
            </tr>
            <tr>
                <th>Username:</th>
                <td>{{ account['username'] }}</td>
            </tr>
            <tr>
                <th>Password:</th>
                <td>{{ account['password'] }}</td>
            </tr>
            <tr>
                <th>Email:</th>
                <td>{{ account['email'] }}</td>
            </tr>
        </table>
    </div>
   
    <a href="{{ url_for('logout') }}"><input type="logout" value="Logout" name="" /></a>
    
</main>

{% endblock %}
